DJANGO_SECRET_KEY='django-insecure-4#0!#$y$nhi83cpx_+z+-0r=b@li^csxtj=7adx!js5_#d18bt'

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com

POSTGRES_DB=mining_db
POSTGRES_USER=aise-stone
POSTGRES_PASSWORD=#St@n3L@b2@24!
POSTGRES_HOST=db
POSTGRES_PORT=5433
